@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

@import "styles/admin.css";
@import "styles/grader.css";
@import "styles/editor.css";
@import "styles/navbar.css";
@import "styles/button.css";
@import "styles/loader.css";
@import "styles/layout.css";
@import "styles/home.css";
@import "styles/input.css";
@import "styles/utility.css";
@import "styles/task.css";
@import "styles/codex.css";
@import "styles/documentation.css";
@import "styles/accordion.css";
@import "styles/analysis.css";

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    background-color: #edf8f9;
}
