.admin-dashboard-main-container {
    display: flex;
    flex-direction: row;
    padding: 24px;
}

.admin-dashboard-column {
    display: flex;
    flex-direction: column;

    margin-left: 48px;

    border: 1px solid #fff;

    padding: 12px;

    border-radius: 12px;
}
