.analysis-page {
    background-color: #444;
    padding: 100px;
}

.analysis-code-viewer {
    border: 1px solid rgb(0, 0, 0);
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    margin: 12px;
    overflow-wrap: anywhere;
}

.analysis-component {
    border-radius: 8px;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0px 4px 32px rgb(0 60 52 / 16%);
    margin-bottom: 150px;
    width: 100%;
}

.analysis-input {
    margin-left: 12px;
}

.analysis-part {
    margin-top: 12px;
    box-shadow: 0 0 4px #ccc;
    border-radius: 12px;
    overflow: hidden;
}

.analysis-part h4 {
    margin: 0;
}

.analysis-part p {
    margin: 0;
}

.analysis-header {
    color: #fff;
    background-color: #085b5b;
    padding: 12px;
}

.analysis-point {
    display: inline-flex;
    margin-top: 12px;
    margin-left: 12px;
    padding: 2px 12px;
    background-color: #8e20a9;
    color: #fff;
    border-radius: 99px;
}

.codex-color {
    background-color: #bb5cd3 !important;
}

.run-color {
    background-color: #01269f !important;
}

.submit-color {
    background-color: #1baf8f !important;
}

.edit-color {
    background-color: #fb122d !important;
}

.doc-color {
    background-color: #958901 !important;
}

.code-viewer-side-by-side {
    display: flex;
    flex-direction: row;
}

.code-viewer-half {
    flex: 1;
}

.prompt-message {
    background-color: rgb(90, 241, 241);
    padding: 0 8px;
    border-radius: 4px;
}

.prompt-header {
    padding-top: 12px;
    padding-left: 12px;
}
