.mini-editor {
    width: 500px;
    height: 300px;
}

.big-input {
    width: 500px;
    height: 100px;
}

.answer-container {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 0 1em;
    padding: 1em;
}

.home-column-container {
    display: flex;
    flex-direction: row;
    padding: 24px;
}

.home-column {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 33%;
}

.hint-generator-component {
    overflow-y: auto;
}

.code-explain-question-component {
    overflow-y: auto;
}

.selectable-option {
    border: 1px solid #e0e0e0;
    border-radius: 64px;
}

.option-selected {
    background-color: #e0ffe0;
    border: 1px solid #00ffff;
}

.hidden-component {
    display: none;
}

/* response-feedback.tsx */

.feedback-option-yes {
    display: inline-flex;
    flex-direction: row;
    padding: 3px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
}

.feedback-option-no {
    display: inline-flex;
    flex-direction: row;
    padding: 3px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.feedback-option-selected-yes {
    background-color: #d1fed1;
    border: 1px solid #00aaaa;
}

.feedback-option-selected-no {
    background-color: #ffe0e0;
    border: 1px solid #ffa0a0;
}
