.response-header-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

/* question-answer */

.question-answer-main-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    line-height: 26px;

    border-radius: 12px;
    background-color: #132f4c;
    margin-top: 32px;
    border: 1px solid #1e4976;
}

.question-answer-main-content {
    padding: 16px;
}

.main-question {
    border-radius: 12px 12px 0 0;
    background-color: #1e4976;
    padding: 12px 16px;
    border-bottom: 3px solid #1e4976;
    display: flex;
    flex-direction: row;
}

.follow-up-responses {
    margin: 16px 0 0 0;
}

.follow-up-question {
    display: flex;
    flex-direction: row;
    background-color: #1e4976;
    padding: 6px 16px;
    border-radius: 12px 12px 0 0;
}

.follow-up-answer {
    padding: 16px;
}

.follow-up-response-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 32px 0 0 0;
    border: 2px solid #1d4976;
    border-radius: 16px;
}

.follow-up-question-input-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.follow-up-question-input {
    width: 100%;
    height: 22px;
    border-radius: 8px;
    background-color: #001e3c;
    color: #fff;
    padding: 8px;
    border: 1px solid #444;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;
    resize: none;
}

.follow-up-question-button {
    margin-left: 12px;
    width: 100px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;

    transition: background-color 0.5s;
}

.follow-up-question-button:hover {
    background-color: #9724da;
}

.follow-up-question-button-enabled {
    background-color: #037fff;
    color: #fff;
}

.follow-up-question-button-disabled {
    background-color: #10263d;
    color: rgb(155, 155, 155);
}

/* break-down-task */

.break-down-task-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    line-height: 26px;

    border-radius: 12px;
    background-color: #132f4c;
    margin-top: 32px;
    border: 1px solid #1e4976;
}

.break-down-task-header {
    border-radius: 12px 12px 0 0;
    background-color: #1e4976;
    padding: 12px 16px;
    border-bottom: 3px solid #1e4976;
    display: flex;
    flex-direction: row;
}

.break-down-response {
    margin: 16px;
}

.break-down-response-step {
    margin-bottom: 12px;
}

/* question-from-code */

.question-from-code-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    line-height: 26px;

    border-radius: 12px;
    background-color: #132f4c;
    margin-top: 32px;
    border: 1px solid #1e4976;
}

.question-code {
    margin: 16px 16px 0 16px;
    padding: 16px;

    border-radius: 12px;
    border: 1px solid #1e4976;

    background-color: #001e3c;
}

/* explain-code */

.explain-code-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    line-height: 26px;

    border-radius: 12px;
    background-color: #132f4c;
    margin-top: 32px;
    border: 1px solid #1e4976;
}

.explain-code-header {
    border-radius: 12px 12px 0 0;
    background-color: #1e4976;
    padding: 12px 16px;
    border-bottom: 3px solid #1e4976;
    display: flex;
    flex-direction: row;
}

.explained-code {
    margin: 16px;
    padding: 16px;

    border-radius: 12px;
    border: 1px solid #1e4976;

    background-color: #001e3c;
}

.short-explanation-text {
    margin: 16px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #1e4976;

    background-color: #1f144b;
}

.main-answer {
    padding: 16px;
}

.explain-code-response-step {
    margin-bottom: 12px;
}

/* hoverable keyword */

.hoverable-keyword-container {
    display: inline-block;
    position: relative;
}

.keyword-hovered-container {
    position: absolute;
    z-index: 999;
    background-color: #1f144b;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #1e4976;

    width: 400px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.keyword-ask-button {
    cursor: pointer;
    background-color: #037fff;
    color: #fff;
    border-radius: 8px;
    padding: 4px 12px;

    text-align: center;
    cursor: pointer;
    font-weight: bold;

    transition: background-color 0.2s;
}

.keyword-ask-button:hover {
    background-color: #0059b2;
}

.keyword-inline-code {
    font-family: "Courier New", Courier, monospace;
    padding: 1px 8px;
    background-color: #413573;
    font-weight: 600;
    color: #00f2ff;
    border-radius: 6px;
}

/* response-feedback */

.response-feedback-container {
    margin-top: 16px;
    background: rgb(169, 110, 255);
    background: -moz-linear-gradient(
        90deg,
        rgba(169, 110, 255, 1) 50%,
        rgba(19, 173, 189, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(169, 110, 255, 1) 50%,
        rgba(19, 173, 189, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(169, 110, 255, 1) 50%,
        rgba(19, 173, 189, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a96eff",endColorstr="#13adbd",GradientType=1);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8938ff",endColorstr="#13adbd",GradientType=1);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a8a5ff",endColorstr="#13adbd",GradientType=1);
    color: #000;
    /* padding: 16px; */
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px, rgb(0 0 0 / 4%) 0px 10px 10px;
    overflow: hidden;
}

.response-feedback-header {
    padding: 10px 16px;
    background-color: #dcfffc;
    color: #000;
    font-weight: bold;
}

.response-feedback-content {
    width: calc(100% - 24px);
    display: inline-flex;
    padding: 12px;
    justify-content: space-between;
}

.feedback-reason-textarea {
    width: calc(100% - 270px);
    height: 22px;
    padding: 4px 8px;

    margin: 0 12px 0 12px;

    border-radius: 8px;
    resize: none;

    font-size: 17px;

    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;
}

.star-icons-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.star-icons-container svg {
    cursor: pointer;
    height: 26px;
}

.single-star-icon-container {
    display: inline-flex;
    flex-direction: row;
}

.response-star-selected {
    color: #ffbe00;
}

.submit-feedback-button {
    display: inline;
    background-color: #9f00c2;
    color: #fff;
    border-radius: 8px;
    padding: 3px 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

    transition: background-color 0.2s;
}

.submit-feedback-button:hover {
    background-color: #d000ff;
}

.feedback-button-disabled {
    background-color: #a8a5ff;
    cursor: not-allowed;
}

.submitted-feedback-value {
    background-color: #000000;
    color: #fff;
    display: inline-block;
    padding: 6px 20px;
    margin-top: 16px;
    border-radius: 6px;
}

/* disclaimer-component.tsx */

.disclaimer-container {
    padding: 16px;
    border-radius: 12px;
    background-color: #aaa;
    margin-top: 32px;
}

.disclaimer-title {
    margin: 0;
    color: #000;
    font-size: 24px;
}

.disclaimer-message {
    font-size: 16px;
    color: #000;
}

.disclaimer-message li {
    margin: 4px 0;
}

.disclaimer-button {
    background-color: #037fff;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 20px;

    text-align: center;
    cursor: pointer;
    font-weight: bold;

    transition: background-color 0.5s;
}

.disclaimer-button:hover {
    background-color: #333;
}

/* error-message.tsx */

.error-container {
    z-index: 9999;
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 25%;

    background-color: #d74f00;
    color: #fff;
    padding: 32px;
    font-size: 22px;
    line-height: 36px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
