.response-header-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

/* question-answer */

.response-main-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    line-height: 26px;

    border-radius: 12px;
    background-color: #132f4c;
    margin-top: 32px;
    border: 1px solid #1e4976;
}

.response-header {
    border-radius: 12px 12px 0 0;
    background-color: #1e4976;
    padding: 12px 16px;
    border-bottom: 3px solid #1e4976;
    display: flex;
    flex-direction: row;
}

.response-main-content {
    padding: 16px 16px 0 16px;
}

.meta-question {
    margin-bottom: 12px;
    padding: 8px 12px;
    background-color: #091d32;
    border-radius: 6px;
}

.meta-static-code {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #091d32;
}

.response-main-answer {
    margin-bottom: 12px;
}

.hoverable-code-container {
    margin-bottom: 12px;
}

.hoverable-code-header {
    padding: 12px 16px;
    border-radius: 12px 12px 0 0;
    background-color: #3100b8;
    /* border: solid 1px #0a16c0; */
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.hoverable-code-subtitle {
    padding: 12px 16px;
    background-color: #073e59;
}

.hoverable-code-content {
    padding: 12px;

    border-radius: 0 0 12px 12px;
    border: 1px solid #1e4976;

    background-color: #1e0041;
}

.inline-code-subtle {
    background-color: #0c598c;
    border-radius: 4px;
    padding: 2px 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
}

.suggested-follow-up-questions-container {
}

.suggested-follow-up-questions-header {
    margin-bottom: 8px;
    font-size: 22px;
}

.follow-up-question-suggestion {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
}

.follow-up-question-suggestion:hover {
    background-color: #0c77b5;
}

.follow-up-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.follow-up-input-container {
    background-color: #144577;
    border-radius: 12px;
    margin: 16px;
    padding: 16px;
}

.follow-up-separator {
    margin: 0;
    border: 1.5px solid #2765a4;
}

.c-library-functions-container {
    margin-bottom: 12px;
    border-radius: 8px;
    padding: 12px;

    background-color: #1cbaff;
    color: #000;
}

.c-library-functions-title {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

.hoverable-quick-documentation {
    position: relative;

    margin-top: 12px;
}

.quick-doc-part-title {
    font-weight: bold;
}

.hoverable-function-name {
    cursor: pointer;
    border: 3px solid #000;
    font-weight: bold;
    padding: 6px 20px;
    font-size: 22px;
    border-radius: 8px;
    background-color: #000;
    /* color: #000; */
    color: #1cbaff;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

.hoverable-function-name:hover {
    background-color: #222;
    color: #1cbaff;
    border: 3px solid #222;
}

.hoverable-func-name-icon {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.hoverable-quick-doc-container {
    z-index: 99;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: #0e0048;
    color: #fff;
    line-height: 30px;
    border-radius: 0 12px 12px 12px;

    width: calc(100% - 24px);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quick-doc-summary {
    font-size: 20px;

    background-color: #1b0181;
    padding: 12px;
}

.quick-doc-main-content {
    padding: 12px;
}

.quick-doc-code-container {
    margin-bottom: 12px;
    border: 2px solid #000;
    border-radius: 12px;
}

.quick-doc-code-title {
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    background-color: #690db0;
    border-radius: 12px 12px 0 0;
}

.quick-doc-code {
    background-color: #1e0041;
    padding: 12px;
    border-radius: 0 0 12px 12px;
}

.quick-doc-part {
    margin-bottom: 12px;
}

.quick-doc-similar-functions {
    display: inline-block;
    margin-right: 12px;
}

.update-notice-container {
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    color: #000;
    top: 10%;
    left: 10%;
    right: 10%;

    font-size: 24px;
    padding: 64px;
    border-radius: 24px;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.update-notice-title {
    font-weight: bold;
    margin-bottom: 64px;

    background-color: #0c94ac;
    color: #fff;
    padding: 24px;
    border-radius: 16px;
    margin-top: 0;

    text-align: center;
}

.update-notice-message {
    font-size: 28px;
}

.update-notice-message li {
    margin-bottom: 16px;
}

.update-notice-button {
    background-color: #0c94ac;
    color: #fff;
    padding: 24px 48px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 64px;
    border: none;
}

.update-notice-button:hover {
    background-color: #0c77b5;
}

.background-overlay-whole-page {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
